<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>TOPYS | 全球顶尖创意分享平台 OPEN YOUR MIND</title>
		<meta name="keywords" content="创意,艺术,设计,商业,文化,科技,广告,文案,分享平台,创意阅读,创意内容" >
		<meta name="description" content="抢先知晓全球最新鲜、最棒的创意资讯，扩充你的灵感库。" >

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<script>
	            window.isSupportWebp = false;//是否支持
	            (function() {
	                var arr,reg=new RegExp("(^| )can_webp=([^;]*)(;|$)");
	                if(arr=document.cookie.match(reg)){
	                    console.log(arr[2]);

	                    if(arr[2] == "true"){
	                        window.isSupportWebp = true;
						}

	                    return;
					}

	                var img = new Image();
	                function getResult(event) {
	                    //如果进入加载且图片宽度为1(通过图片宽度值判断图片是否可以显示)
	                    window.isSupportWebp = event && event.type === 'load' ? img.width == 1 : false;

	                    var Days = 365;
	                    var exp = new Date();
	                    exp.setTime(exp.getTime() + Days*24*60*60*1000);
	                    document.cookie = "can_webp="+ escape (window.isSupportWebp) + ";expires=" + exp.toGMTString();
	                }
	                img.onerror = getResult;
	                img.onload = getResult;
	                img.src = 'data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA='; //一像素图片
	            })();
			</script>

			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-THXW66K');</script>
			
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/Public/favicon.ico?v=1" />
		<link rel="stylesheet" href="/Public/unify/vendor/icon-awesome/css/font-awesome.min.css">

		
    <link rel="stylesheet" href="/Public/plug-in/swiper/dist/css/swiper.min.css">

		<!-- CSS Customization -->
		<link rel="stylesheet" href="/Public/css/web/style.css?v=200037">
	</head>

	<body>
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THXW66K"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>	  <main class='g-pb-100'>
			<header id="js-header" class="u-header u-header--sticky-top u-header--show-hide u-header--toggle-section" data-header-fix-moment="300" data-header-fix-effect="slide">
			  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
				<nav class="js-mega-menu navbar navbar-expand-sm hs-menu-initialized hs-menu-horizontal no-p">
				  <div class="container">
					<!-- Navigation -->
					<div class="collapse navbar-collapse align-items-center flex-sm-row">
					  <ul class="navbar-nav text-uppercase g-font-weight-600 u-main-nav-v5 u-sub-menu-v1 navbar-left">
						<li class="hs-has-mega-menu nav-item g-mb-5 g-mb-0--sm" data-animation-in="fadeIn" data-animation-out="fadeOut" data-max-width="100%" data-position="left">
						  <a id="mega-menu-label-1" href="#!" class="nav-link g-px-0 navbar-nav-a" aria-haspopup="true" aria-expanded="false">发现<i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
						  </a>
						  <!-- Mega Menu -->
				  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none font-weight-normal g-brd-top g-brd-primary g-brd-top-2 g-mt-0--lg--scrolling" aria-labelledby="mega-menu-label-1">
					<div class="row align-items-stretch">
					  <div class="col-sm-6">
						<section class="g-pa-20">
						  <ul class="list-unstyled">
							<li>
							  <div class="menu-category-name g-font-weight-600 g-pb-15">独家内容</div>
							</li>
							<li>
							  <a target="_blank" href="/drlist/29.html" class='nav-link g-px-0 g-color-primary--hover'>名人访谈</a>
							</li>
							<li>
							  <a target="_blank" href="/drlist/66.html" class='nav-link g-px-0 g-color-primary--hover'>独家合辑</a>
							</li>
							<li>
							  <a target="_blank" href="/album" class='nav-link g-px-0 g-color-primary--hover'>专栏</a>
							</li>
							<li>
							  <a target="_blank" href="/article/drlist/module/baizan" class='nav-link g-px-0 g-color-primary--hover'>百赞必看</a>
							</li>
						  </ul>
						</section>
					  </div>

					  <div class="col-sm-6 g-brd-left--lg g-brd-gray-light-v5">
						<section class="g-pa-20 g-pl-5--lg">
						  <ul class="list-unstyled">
							<li>
							  <div class="menu-category-name g-font-weight-600 g-pb-15">主题站</div>
							</li>
							<li>
							  <a target="_blank" href="/drlist/60.html" class='nav-link g-px-0 g-color-primary--hover'>创意越过界</a>
							</li>
							<li>
							  <a target="_blank" href="/drlist/71.html" class='nav-link g-px-0 g-color-primary--hover'>好广告</a>
							</li>
							<li>
							  <a target="_blank" href="/drlist/61.html" class='nav-link g-px-0 g-color-primary--hover'>大设计</a>
							</li>
							<li>
							  <a target="_blank" href="/drlist/64.html" class='nav-link g-px-0 g-color-primary--hover'>轻艺术</a>
							</li>
							<li>
							  <a target="_blank" href="/drlist/62.html" class='nav-link g-px-0 g-color-primary--hover'>方法论</a>
							</li>
							<li>
							  <a target="_blank" href="/drlist/72.html" class='nav-link g-px-0 g-color-primary--hover'>泛阅读</a>
							</li>
							<li>
							  <a target="_blank" href="/drlist/36.html" class='nav-link g-px-0 g-color-primary--hover'>建筑派</a>
							</li>
							<li>
							  <a target="_blank" href="/drlist/34.html" class='nav-link g-px-0 g-color-primary--hover'>品牌声浪</a>
							</li>
						  </ul>
						</section>
					  </div>
					</div>
				  </div>
				  <!-- End Mega Menu -->
						</li>
						
						<li class="nav-item g-mb-5 g-mb-0--sm">
						  <a href="/topic" class="nav-link navbar-nav-a" target="_blank">有聊
						
					  </a>
						</li>
						<li class="nav-item g-mb-5 g-mb-0--sm">
						  <a href="/minds" class="nav-link navbar-nav-a" target="_blank">minds学院
					  </a>
						</li>
						<li class="nav-item g-mb-5 g-mb-0--sm">
						  <a href="/event" class="nav-link navbar-nav-a" target="_blank">活动
						
					  </a>
						</li>
						<!--<li class="nav-item g-mb-5 g-mb-0&#45;&#45;sm">-->
						  <!--<a href="/job" class="nav-link" target="_blank">招聘-->
					  <!--</a>-->
						<!--</li>-->
						<li class="nav-item g-mb-5 g-mb-0--sm">
						  <a target="_blank" href="http://store.topys.cn" class="nav-link navbar-nav-a" target="_blank">未知商店
					  </a>
						</li>
					  </ul>
					</div>
					<!-- End Navigation -->

					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img src="/Public/home/img/topys-logo.png" alt="Image Description" class='img-responsive'>
						</a>
					</div>
					<!-- End Logo -->

					<div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10">
						<ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
							<li class="nav-item d-inline-block g-pos-rel g-valign-middle g-ml-30 g-ml-0--lg">
							  <a href="#!" class="nav-link" aria-haspopup="true" aria-expanded="false" aria-controls="searchform-1" data-dropdown-target="#searchform-1" data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-animation-in="fadeInUp" data-dropdown-animation-out="fadeOutDown">
								<i class="icon ic-search"></i>
							  </a>

							  <!-- Search Form -->
							  <form action="/search" id="searchform-1" class="u-searchform-v1 u-dropdown--css-animation g-bg-white g-pa-10 g-mt-15--lg g-mt-15--lg--scrolling u-dropdown--hidden" style="animation-duration: 300ms; right: -15px;">
								<div class="input-group g-brd-black--focus">
								  <input name='k' class="form-control rounded-0 u-form-control" type="search" placeholder="热门搜索:创意">

								  <div class="input-group-addon p-0">
									<button class="btn rounded-0 u-btn-black btn-md g-font-size-14 g-px-18" type="submit">搜索</button>
								  </div>
								</div>
							  </form>
							  <!-- End Search Form -->
							</li>
							<li class="nav-item" id='login-vue' data-token="ea8aef2672b82afbaa95c2d765fc73e863536007" data-timestape="1531366007"  data-sessionid="" data-registerurl="">
										<button class="btn btn-sm g-ml-15 g-mt-6 u-btn-outline-black rounded-0" data-modal-target="#login-modal" data-modal-effect="fadein">注册/登录</button>

										<div id="login-modal" class="text-center g-bg-white g-overflow-y-auto g-pa-20 login-modal" style="display: none;">
										  <button type="button" class="close" onclick="Custombox.modal.close();">
											<i class="fa fa-close"></i>
										  </button>
										  <h4 class="g-mb-30">TOPYS. 会员登录</h4>
										  <div class="login-form">
											<input class="form-control form-control-md rounded-0" name='user-name' type="text" placeholder="用户名/手机/邮箱" v-model='params.username'>
											<input name="user-password" class="form-control form-control-md rounded-0 g-mt-15" type="password" placeholder="密码" type="text" placeholder="用户名/手机/邮箱" v-model='params.password' @keyup.enter="user_login_handle()">
											<small class="form-text text-muted g-font-size-default g-mt-10 text-right"><a href="/user/forget" target="_blank">忘记密码？</a></small>
											<button class="btn btn-md u-btn-primary rounded-0 g-mt-15 btn-block" @click="user_login_handle()">{{login_btn_text}}</button>

											<button class="btn btn-md u-btn-outline-primary rounded-0 g-mt-10 btn-block" @click="user_register_handle()">新用户注册</button>

											<div class="u-heading-v1-6 g-bg-main g-brd-primary g-mb-10 g-mt-15">
											  <div class="u-heading-v1__title">or</div>
											</div>

											<div class="social-info">使用社交账号登录</div>
											<div class="sns-login">
												<a href="https://api.weibo.com/oauth2/authorize?client_id=4062392701&redirect_uri=https%3A%2F%2Fwww.topys.cn%2Fconnect%2Fsina_callback&forcelogin=true"><div class="icon sns-weibo" id="sina-login"></div></a>
												<a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101422809&redirect_uri=https%3A%2F%2Fwww.topys.cn%2Fconnect%2Fqq_callback"><div class="icon sns-qq" id="qq-login"></div></a>
												<a href="https://open.weixin.qq.com/connect/qrconnect?response_type=code&appid=wx023bb9c037d7f238&redirect_uri=https%3A%2F%2Fwww.topys.cn%2Fconnect%2Fwechat_callback&scope=snsapi_login"><div class="icon sns-wechat" id="qq-login"></div></a>
											</div>
										  </div>
										</div>
									</li>													</ul>
					</div>
					<!-- End Navigation -->
				  </div>
				</nav>
			  </div>
			</header>
			<div class="page-content">
				
	<div class="" id='page-index'>
		<div class="swiper-container banner">
		    <div class="swiper-wrapper">
		      					  <div class="swiper-slide swiper-lazy" data-background="http://pic.topys.cn/uploads/20180711/1977176690.png?x-oss-process=style/banner-pic-1x">
						  <a href="/ad?guid=D537BC1E-948E-6591-498F-4B91829832AF" target="_blank">
							  <div class="container">
								  <div class="title g-font-weight-600">干货｜如何在outing里拍出让人肝胆俱裂的海岛人像</div>
								  <div class="line"></div>
								  <div class="sub-title g-font-weight-600">TOPYS小姐姐倾情出镜</div>
							  </div>
						  </a>
					  </div>					  <div class="swiper-slide swiper-lazy" data-background="http://pic.topys.cn/uploads/20180709/1501690982.png?x-oss-process=style/banner-pic-1x">
						  <a href="/ad?guid=F767CEC1-BB30-07EF-FF34-3DB53E8268DC" target="_blank">
							  <div class="container">
								  <div class="title g-font-weight-600">天不怕地不怕，就怕地产广告有文化</div>
								  <div class="line"></div>
								  <div class="sub-title g-font-weight-600">如果要我说实话，没钱买房我还真害怕。</div>
							  </div>
						  </a>
					  </div>					  <div class="swiper-slide swiper-lazy" data-background="http://pic.topys.cn/uploads/20180709/463828564.png?x-oss-process=style/banner-pic-1x">
						  <a href="/ad?guid=33148F22-1998-2C19-2EEB-A8DD3F525AF3" target="_blank">
							  <div class="container">
								  <div class="title g-font-weight-600">纪梵希赫本小黑裙改版了，超级玛丽出旅行套装，吉卜力首个内地大展在沪开幕</div>
								  <div class="line"></div>
								  <div class="sub-title g-font-weight-600">懒人周报87</div>
							  </div>
						  </a>
					  </div>					  <div class="swiper-slide swiper-lazy" data-background="http://pic.topys.cn/uploads/20180704/320812100.png?x-oss-process=style/banner-pic-1x">
						  <a href="/ad?guid=BB3138CF-108C-3D03-F94A-F60F6C2C94AB" target="_blank">
							  <div class="container">
								  <div class="title g-font-weight-600">美式风格是如何炼成的 Claire McCardell 克莱·麦卡德 </div>
								  <div class="line"></div>
								  <div class="sub-title g-font-weight-600">The Designer's Designer</div>
							  </div>
						  </a>
					  </div>		    </div>
		    <!-- Add Pagination -->
		    <div class="banner-control">
		    	<div class="flex-view">
		    		<div class="flex-item">
		    		<div class="swiper-button-prev swiper-button-white swiper-button"></div>
		    		</div>
			    	<div class="container flex-item">
				    	<div class="swiper-pagination swiper-pagination-white"></div>
				    </div>
			    	<div class="flex-item">
					<div class="swiper-button-next swiper-button-white swiper-button"></div>
					</div>
				</div>
		    </div>
		</div>
		<div class="advertisement container">
			<div class="row">
				<div class="col-sm-3 col-xs-3">
						<a  target="_blank" href="/ad?guid=F0CFA7FA-99FF-CA04-943E-99D091EA0C7B" target="_blank" class="item index-sub-ad-0">
															<img src="/attachments/1708/07/59880740ef979.png?x-oss-process=style/ad-pic-1x" alt="" class="img-fluid">						</a>
					</div><div class="col-sm-3 col-xs-3">
						<a  target="_blank" href="/ad?guid=AB8BAFDC-8C5C-43C3-F8AD-0CDED7ADE629" target="_blank" class="item index-sub-ad-1">
															<img src="http://pic.topys.cn/uploads/20171023/1336874950.png?x-oss-process=style/ad-pic-1x" alt="" class="img-fluid">						</a>
					</div><div class="col-sm-3 col-xs-3">
						<a  target="_blank" href="/ad?guid=5D875047-438C-7EDE-158D-AD0FF1B99157" target="_blank" class="item index-sub-ad-2">
															<img src="http://pic.topys.cn/uploads/20171204/1858605220.gif?x-oss-process=style/ad-pic-1x" alt="" class="img-fluid">						</a>
					</div><div class="col-sm-3 col-xs-3">
						<a  target="_blank" href="/ad?guid=9E8F640C-7843-22A9-63BC-634D49FD90F0" target="_blank" class="item index-sub-ad-3">
															<img src="http://pic.topys.cn/uploads/20180223/586141023.png?x-oss-process=style/ad-pic-1x" alt="" class="img-fluid">						</a>
					</div>			</div>
		</div>
		<div class="main-title g-mt-45 g-mb-45">最新精选</div>
		<div class="article-content container">
			<div class="row">
				<div class="col-sm-4 col-xs-4">
						<div class="article-item">
							<a target="_blank" href="/article/27283.html">
								<div class="pic-box">
									<div class="cover">
																					<img src="http://pic.topys.cn/uploads/20180711/353420879.png?x-oss-process=style/article-pic-list-1x" alt="" class='img-fluid'>									</div>
								</div>
							</a>
							<div class="article-panel">
		                        <a target="_blank" href="/drlist/72.html" class="cname">泛阅读</a>
		                        <a target="_blank" href="/article/27283.html" class="title g-font-weight-600">再不来，你就赶不上拿今年的年终奖了 | TOPYS多职位招聘</a>
		                        <a target="_blank" href="/article/27283.html" class="sub-info g-mt-6">来吧，来吧，相约2018。</a>
		                    </div>
		                    <div class="tools sns-tools">
								<a target="_blank" href="/article/27283.html">
		                        <span class="count">
		                            <span class="icon ic-browse"></span>
		                            <span class="num">306</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-comment"></span>
		                            <span class="num">0</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-praise"></span>
		                            <span class="num">0</span>
		                        </span>
								</a>
		                        <a target="_blank" href="/ta/index/guid/2aae7ff0-5925-21eb-5b46-09f0d2703718" class="author pull-right">by 摇摇冻</a>
		                    </div>
						</div>
					</div><div class="col-sm-4 col-xs-4">
						<div class="article-item">
							<a target="_blank" href="/article/27279.html">
								<div class="pic-box">
									<div class="cover">
																					<img src="http://pic.topys.cn/uploads/20180712/1281910905.jpg?x-oss-process=style/article-pic-list-1x" alt="" class='img-fluid'>									</div>
								</div>
							</a>
							<div class="article-panel">
		                        <a target="_blank" href="/drlist/71.html" class="cname">好广告</a>
		                        <a target="_blank" href="/article/27279.html" class="title g-font-weight-600">不黑可口可乐的时候，百事可乐在做什么</a>
		                        <a target="_blank" href="/article/27279.html" class="sub-info g-mt-6">这场战役看得我热血沸腾！</a>
		                    </div>
		                    <div class="tools sns-tools">
								<a target="_blank" href="/article/27279.html">
		                        <span class="count">
		                            <span class="icon ic-browse"></span>
		                            <span class="num">672</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-comment"></span>
		                            <span class="num">0</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-praise"></span>
		                            <span class="num">2</span>
		                        </span>
								</a>
		                        <a target="_blank" href="/ta/index/guid/029a2e82-1a5f-427e-4f54-f5f892f2c2aa" class="author pull-right">by Lesca丹</a>
		                    </div>
						</div>
					</div><div class="col-sm-4 col-xs-4">
						<div class="article-item">
							<a target="_blank" href="/article/27275.html">
								<div class="pic-box">
									<div class="cover">
																					<img src="http://pic.topys.cn/uploads/20180707/1892297906.png?x-oss-process=style/article-pic-list-1x" alt="" class='img-fluid'>									</div>
								</div>
							</a>
							<div class="article-panel">
		                        <a target="_blank" href="/drlist/66.html" class="cname">独家合辑</a>
		                        <a target="_blank" href="/article/27275.html" class="title g-font-weight-600">Monocle评选出2018年全球最宜居城市，我们让去过的人帮你亲测</a>
		                        <a target="_blank" href="/article/27275.html" class="sub-info g-mt-6">一千个人眼里有一千个宜居标准。
</a>
		                    </div>
		                    <div class="tools sns-tools">
								<a target="_blank" href="/article/27275.html">
		                        <span class="count">
		                            <span class="icon ic-browse"></span>
		                            <span class="num">327</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-comment"></span>
		                            <span class="num">0</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-praise"></span>
		                            <span class="num">2</span>
		                        </span>
								</a>
		                        <a target="_blank" href="/ta/index/guid/2aae7ff0-5925-21eb-5b46-09f0d2703718" class="author pull-right">by 摇摇冻</a>
		                    </div>
						</div>
					</div><div class="col-sm-4 col-xs-4">
						<div class="article-item">
							<a target="_blank" href="/article/27319.html">
								<div class="pic-box">
									<div class="cover">
																					<img src="http://pic.topys.cn/uploads/20180711/1081780213.jpg?x-oss-process=style/article-pic-list-1x" alt="" class='img-fluid'>									</div>
								</div>
							</a>
							<div class="article-panel">
		                        <a target="_blank" href="/drlist/61.html" class="cname">大设计</a>
		                        <a target="_blank" href="/article/27319.html" class="title g-font-weight-600">听说，搬家日与麦当劳更配喔 | Think Small</a>
		                        <a target="_blank" href="/article/27319.html" class="sub-info g-mt-6">那个把麦当劳大卸八块的广告公司又回来了。</a>
		                    </div>
		                    <div class="tools sns-tools">
								<a target="_blank" href="/article/27319.html">
		                        <span class="count">
		                            <span class="icon ic-browse"></span>
		                            <span class="num">256</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-comment"></span>
		                            <span class="num">0</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-praise"></span>
		                            <span class="num">1</span>
		                        </span>
								</a>
		                        <a target="_blank" href="/ta/index/guid/a4baf1fc-fa18-2953-cac0-870eaa464fa3" class="author pull-right">by 霍比特人</a>
		                    </div>
						</div>
					</div><div class="col-sm-4 col-xs-4">
						<div class="article-item">
							<a target="_blank" href="/article/27316.html">
								<div class="pic-box">
									<div class="cover">
																					<img src="http://pic.topys.cn/uploads/20180711/658246811.png?x-oss-process=style/article-pic-list-1x" alt="" class='img-fluid'>									</div>
								</div>
							</a>
							<div class="article-panel">
		                        <a target="_blank" href="/drlist/66.html" class="cname">独家合辑</a>
		                        <a target="_blank" href="/article/27316.html" class="title g-font-weight-600">干货｜如何在outing里拍出让人肝胆俱裂的海岛人像</a>
		                        <a target="_blank" href="/article/27316.html" class="sub-info g-mt-6">TOPYS野模小姐姐倾情出镜。</a>
		                    </div>
		                    <div class="tools sns-tools">
								<a target="_blank" href="/article/27316.html">
		                        <span class="count">
		                            <span class="icon ic-browse"></span>
		                            <span class="num">1400</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-comment"></span>
		                            <span class="num">7</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-praise"></span>
		                            <span class="num">4</span>
		                        </span>
								</a>
		                        <a target="_blank" href="/ta/index/guid/806de241-e49d-e118-ef73-58d0072f8344" class="author pull-right">by 盧丁</a>
		                    </div>
						</div>
					</div><div class="col-sm-4 col-xs-4">
						<div class="article-item">
							<a target="_blank" href="/article/27282.html">
								<div class="pic-box">
									<div class="cover">
																					<img src="http://pic.topys.cn/uploads/20180710/302352570.jpg?x-oss-process=style/article-pic-list-1x" alt="" class='img-fluid'>									</div>
								</div>
							</a>
							<div class="article-panel">
		                        <a target="_blank" href="/drlist/71.html" class="cname">好广告</a>
		                        <a target="_blank" href="/article/27282.html" class="title g-font-weight-600">史上第一本海洋潘通目录册 | Think Small</a>
		                        <a target="_blank" href="/article/27282.html" class="sub-info g-mt-6">摸一摸！还是我喜欢的沙子哦。</a>
		                    </div>
		                    <div class="tools sns-tools">
								<a target="_blank" href="/article/27282.html">
		                        <span class="count">
		                            <span class="icon ic-browse"></span>
		                            <span class="num">2287</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-comment"></span>
		                            <span class="num">1</span>
		                        </span>
		                        <span class="count">
		                            <span class="icon ic-praise"></span>
		                            <span class="num">8</span>
		                        </span>
								</a>
		                        <a target="_blank" href="/ta/index/guid/a4baf1fc-fa18-2953-cac0-870eaa464fa3" class="author pull-right">by 霍比特人</a>
		                    </div>
						</div>
					</div>			</div>
		</div>
		<div class="hot-fav-content g-pb-30 g-pt-30">
			<div class="main-title g-pb-30">热门灵感库</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-2 col-xs-4 fav-item">
							<a target="_blank" href="/member/fav_detail/id/12221">
		                        										<div class="pic" style="background-image: url(http://pic.topys.cn/attachments/1604/13/570e07ef58ad4.png?x-oss-process=style/fav-pic-1x)">
											<div class="cover"></div>
										</div>		                        		                    <p class="title">种草清单：小书和小片儿</p>
		                    </a>
		                    <p class="author">
		                        <a target="_blank" href="/ta/index/guid/d3d755e9-c245-d36e-6491-c12d9fa92f17" class="author">
		                            by 被被		                            </a>		                    </p>
						</div><div class="col-sm-2 col-xs-4 fav-item">
							<a target="_blank" href="/member/fav_detail/id/10853">
		                        										<div class="pic" style="background-image: url(http://pic.topys.cn/uploads/20180509/800090664.jpg?x-oss-process=style/fav-pic-1x)">
											<div class="cover"></div>
										</div>		                        		                    <p class="title">都是潮牌</p>
		                    </a>
		                    <p class="author">
		                        <a target="_blank" href="/ta/index/guid/bd3b04da-eff1-7275-fb67-52824a02cbf8" class="author">
		                            by 茹子		                            </a>		                    </p>
						</div><div class="col-sm-2 col-xs-4 fav-item">
							<a target="_blank" href="/member/fav_detail/id/11786">
		                        										<div class="pic" style="background-image: url(/attachments/1308/23/5216efbcefea1.jpg?x-oss-process=style/fav-pic-1x)">
											<div class="cover"></div>
										</div>		                        		                    <p class="title">进来，给你点颜色看看</p>
		                    </a>
		                    <p class="author">
		                        <a target="_blank" href="/ta/index/guid/bd3b04da-eff1-7275-fb67-52824a02cbf8" class="author">
		                            by 茹子		                            </a>		                    </p>
						</div><div class="col-sm-2 col-xs-4 fav-item">
							<a target="_blank" href="/member/fav_detail/id/11703">
		                        										<div class="pic" style="background-image: url(http://pic.topys.cn/uploads/20180527/1547230652.jpg?x-oss-process=style/fav-pic-1x)">
											<div class="cover"></div>
										</div>		                        		                    <p class="title">杂志人指导手册</p>
		                    </a>
		                    <p class="author">
		                        <a target="_blank" href="/ta/index/guid/6c78e233-26ee-af96-5809-5cf762712794" class="author">
		                            by Thoi		                            </a>		                    </p>
						</div><div class="col-sm-2 col-xs-4 fav-item">
							<a target="_blank" href="/member/fav_detail/id/10253">
		                        										<div class="pic" style="background-image: url(http://pic.topys.cn/uploads/20180412/168362171.png?x-oss-process=style/fav-pic-1x)">
											<div class="cover"></div>
										</div>		                        		                    <p class="title">广广而告知</p>
		                    </a>
		                    <p class="author">
		                        <a target="_blank" href="/ta/index/guid/6c78e233-26ee-af96-5809-5cf762712794" class="author">
		                            by Thoi		                            </a>		                    </p>
						</div><div class="col-sm-2 col-xs-4 fav-item">
							<a target="_blank" href="/member/fav_detail/id/9574">
		                        										<div class="pic" style="background-image: url(http://pic.topys.cn/uploads/20180323/158710312.png?x-oss-process=style/fav-pic-1x)">
											<div class="cover"></div>
										</div>		                        		                    <p class="title">听歌先看封面</p>
		                    </a>
		                    <p class="author">
		                        <a target="_blank" href="/ta/index/guid/6c78e233-26ee-af96-5809-5cf762712794" class="author">
		                            by Thoi		                            </a>		                    </p>
						</div>				</div>
			</div>
		</div>
		<div class="hot-topic text-center" style="background-image:url('http://pic.topys.cn/uploads/20180515/1222884066.jpg')">
			<p class="sub g-font-weight-600">今日话题</p>
	        <h4 class="">讲道理，这才是杠精出没最多的地方吧……</h4>
	        <a  target="_blank" href="/ad?guid=5DD75E5D-C07A-D626-F0B4-72C4F135F28A" class="btn-more btn-more-white">参与话题</a>
		</div>
		<div class="main-title g-mt-45 g-mb-45">精选活动</div>
		<div class="hot-activity container activity-list" id="activity-list-vue" data-token="ea8aef2672b82afbaa95c2d765fc73e863536007" data-timestape="1531366007" data-page='0' data-size='4' data-type='top'>
			<div class="row">
				<div class="act-item col-xs-3 col-sm-3"  v-for="(v,index) in items">
                   <a target="_blank" v-bind:href="'/event/detail?id=' + v.id " class="pic">
					   <img :src="v.thumb + '?x-oss-process=style/event-pic-webp-1x' " alt="" class='img-fluid' v-if="sport_webp">
                       <img :src="v.thumb + '?x-oss-process=style/event-pic-1x' " alt="" class='img-fluid' v-else>
                       <div class="tag" v-text="v.category_name"></div>
                   </a>
                   <a target="_blank" v-bind:href="'/event/detail?id=' + v.id " class="txt-info al-c">
                       <p class="tit text-center" v-text="v.title"></p>
                       <p class="desc text-center" v-text="v.keyword"></p>
                   </a>
                   <div class="address al-c text-center">
                       <span v-if="v.city">{{v.city}} ｜ </span>{{v.event_end_time | time }}
                   </div>
               	</div>
			</div>
			<a  target="_blank" href="/event" class="btn-more btn-more-black g-mt-30 g-mb-45">更多活动</a>
		</div>
		<div class="main-title g-mt-45 g-mb-45">编辑精选</div>
		<div class="article-content container article-list-vue" id="article-list-vue" data-type='top' data-page='0' data-size='12' data-offset='6' data-token="ea8aef2672b82afbaa95c2d765fc73e863536007" data-timestape="1531366007">
			<div class="row">
				<div class="col-sm-4 col-xs-4" v-for="(v,index) in items">
					<div class="article-item">
						<a target="_blank" :href="'/article/' + v.id + '.html'">
							<div class="pic-box">
								<div class="cover">
									<img :src="v.thumb + '?x-oss-process=style/article-pic-list-webp-1x'" alt="" class='img-fluid' v-if="sport_webp">
									<img :src="v.thumb + '?x-oss-process=style/article-pic-list-1x'" alt="" class='img-fluid' v-else>
								</div>
							</div>
						</a>
						<div class="article-panel">
	                        <a target="_blank" :href="'/drlist/' + v.category_id + '.html'" class="cname">{{v.cname}}</a>
	                        <a target="_blank" :href="'/article/' + v.id + '.html'" class="title g-font-weight-600">{{v.title}}</a>
	                        <a target="_blank" :href="'/article/' + v.id + '.html'" class="sub-info g-mt-6">{{v.description}}</a>
	                    </div>
	                    <div class="tools sns-tools">
							<a target="_blank" :href="'/article/' + v.id + '.html'">
	                        <span class="count">
	                            <span class="icon ic-browse"></span>
	                            <span class="num">{{v.view_count}}</span>
	                        </span>
	                        <span class="count">
	                            <span class="icon ic-comment"></span>
	                            <span class="num">{{v.comment}}</span>
	                        </span>
	                        <span class="count">
	                            <span class="icon ic-praise"></span>
	                            <span class="num">{{v.digg}}</span>
	                        </span>
							</a>
	                        <a target="_blank" :href="'/ta/index/guid/' +v.user_guid" class="author pull-right">by {{v.editor}}</a>
	                    </div>
					</div>
				</div>
			</div>
			<div class="load-more-content">
				<div class="loadding" v-show="isloading">
				    <div class="rolling"></div>
				</div>
				<div class="load-data" v-show="has_more & !isloading">
                    <a href="javascript:;" @click="getList" class="load-more f-weight">浏览更多</a>
                </div>
			</div>
		</div>
	</div>

							</div>
			<div class="footer container g-mb-30 g-pb-30">
				<div class="row g-mt-30">
					<div class="col-sm-4">
						<form action="http://list.qq.com/cgi-bin/qf_compose_send" target="_blank" method="post" class="">
							<input type="hidden" name="t" value="qf_booked_feedback">
							<input type="hidden" name="id" value="087ae5f972e0d8e497a6fb74196751a776c6f36f189a8c47">
							<div class="input-group">
								<input name='to' class="form-control rounded-0 u-form-control" type="search" placeholder="输入邮箱订阅Newsletter">
								<div class="input-group-btn">
								  <button class="btn btn-md u-btn-outline-primary rounded-0 g-font-size-18" type="submit"><i class="fa fa-arrow-right"></i></button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-8 text-right sns-info">
						<span>关注我们</span>
						<a href="http://weibo.com/topys" target="_blank">
							<div class="icon ic-wb"></div>
						</a>
						<a href="javascript:;" id="linkwx">
							<div class="icon ic-wx"></div>
						</a>
						<a href="https://www.facebook.com/kanjiantopys" target="_blank">
							<div class="icon ic-fb"></div>
						</a>
						<a href="http://i.youku.com/i/UMjE4Njc0MzAw?spm=a2hzp.8244740.0.0" target="_blank">
							<div class="icon ic-yk"></div>
						</a>
					</div>
				</div>
			</div>
			<div class="copyright text-center container g-mb-30 g-font-size-12">
			<div class="">
				<a href="/about/index" class='g-font-weight-600'>关于我们</a>
				<a href="/about/server" class='g-ml-20 g-font-weight-600'>招聘及广告服务</a>
				<a href="/about/mz" class='g-ml-20 g-font-weight-600'>免责</a>
			</div>
			<div class="al-c">
				TOPYS.CN 深圳市看见文化传播有限公司  2003-2018 ALL RIGHTS RESERVED.   <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备06047857号</a>
			</div>
		</div>
		<div class="" id='toast'>添加成功！</div>
	  </main>

		<!-- JS Global Compulsory -->
		<script src="/Public/js/web/web_base.js?v=200037"></script>

		
	<script src="/Public/plug-in/swiper/dist/js/swiper.min.js"></script>
	<script src="/Public/js/web/web.js?v=200037"></script>

				<script>
				(function(){
					var bp = document.createElement('script');
					var curProtocol = window.location.protocol.split(':')[0];
					if (curProtocol === 'https') {
						bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
					}
					else {
						bp.src = 'http://push.zhanzhang.baidu.com/push.js';
					}
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(bp, s);
				})();
			</script>	</body>
</html>